sentencepiece
git+https://github.com/haotian-liu/LLaVA/tree/7ace501183c4bdec6052ec1a30039cdc3242a67c
transformers
diffusers
tokenizers
datasets
accelerate
evaluate
gradio
torch==1.12.0
torchvision==0.13.0
torchaudio==0.12.0
transformers==4.12.5
